@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: block;
    height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
  }

  header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #F8FAFC;
    background-image: url(./images/sand-background-image.png);
    background-repeat: no-repeat;
    margin-bottom: 60px;
    border-bottom: 1px solid #4D556233;
    padding-block: 52px;
  }

  header h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  header p {
    width: 500px;
    color: #4D5562;
    margin: 0 auto;
  }

  .pricing-table {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5,minmax(100px,1fr));
    grid-template-areas: ". free-price team-price popular-price enterprise-price"
    "offer free-section team-section popular-section enterprise-section"
    ". free-footer team-footer popular-footer enterprise-footer";
    padding-bottom: 50px;
  }

  .text-box{
    text-align: center;
  }

  img {
    width: 15px;
  }
.price {
  padding-block: 1.5rem;
}
  .price h3{
    font-size: 1rem;
    font-weight: 600;
    color: #263FA9;
  }
  .price h2 {
    font-size: 4rem;
    font-weight: 600;
    color: #121826;
    margin: 10px 0;
  }
  .price p {
    font-size: 1rem;
    font-weight: 400;
    color: #4D5562;
    padding-bottom: 30px;
  }

.text-section p{
  padding: 15px;
  border-bottom: 1px solid #4D556233;
}

.offer {
  grid-area: offer;
  background-color: #F8FAFC;
  text-align: left;
  border-radius:  15px 0  0 15px;
  overflow: clip;
}

.free-price {
  grid-area: free-price;
}
.free-section {
  grid-area: free-section;
}
.free-footer {
  grid-area: free-footer;
}

.team-price {
  grid-area: team-price;
}
.team-section {
  grid-area: team-section;
}
.team-footer {
  grid-area: team-footer;
}

.popular-price {
  grid-area: popular-price;
  background-color: #121826;
  border-radius: 15px 15px 0 0;
}
.popular-price h3 {
  margin: 0 auto;
  background-color: #263FA9;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  padding: 1px 15px;
 
}
.popular-section {
  grid-area: popular-section;
  background-color: #121826;
}
.popular-footer {
  grid-area: popular-footer;
  background-color: #7C4F1E;
  border-radius: 0 0 15px 15px;
}
.popular-price h3,
.popular-price p,
.popular-price h2,
.popular-section p,
.popular-footer p {
  color: #ffffff !important;
}


.enterprise-price {
  grid-area: enterprise-price;
}
.enterprise-section {
  grid-area: enterprise-section;
}
.enterprise-footer {
  grid-area:enterprise-footer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 25px ;
}

.flex p {
  color: #263FA9;
  font-weight: 600;
}

@media (max-width:1024px) {

  .pricing-table {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4,minmax(100px,1fr));
    grid-template-areas: ". team-price popular-price enterprise-price"
    "offer team-section popular-section enterprise-section"
    ". team-footer popular-footer enterprise-footer";
    padding: 0 50px 50px 50px;
  }

  .free-price,
  .free-section,
  .free-footer {
    display: none;
  }
}

@media (max-width:640px) {

  .pricing-table {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 130px repeat(2,1fr);
    grid-template-areas: ". enterprise-price popular-price"
    "offer enterprise-section popular-section"
    ". enterprise-footer popular-footer ";
    padding: 0 30px 50px 30px;
  }

  .price h2{
    font-size: 3rem;
  }
  .offer p {
    padding-left: 0.75rem;
    font-weight: 600;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  .team-price,
  .team-section,
  .team-footer {
    display: none;
}
}

